body{
  margin: 0px;
}

.parrafo{
  position: relative;
  top: 120px;
}

.dadbox{
  clear: both;
  height: 500px;
  background-color: white;
  position: relative;
  top: 130px;
}

.box{
  width: 25%;
  height: 500px;
  padding: 5px;
  background-color: white;
  margin-bottom: : 5px;
  float: left;
  box-sizing: border-box;
}

nav{
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 10;
  background-color: #00aaaa
}

ul{
  list-style-type: none;
}

li{
  float: left;
  padding: 50px;
}
